:root{
    --primary-bg:#1c0d26;
}

body{
    background-color: var(--primary-bg);
    font-family: 'Lato', sans-serif;
    color: white;
}
header{
    background-position: center;
    width: 100%;
    height: 400px;
    background-image: url(../images/takeover_bg_480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content{
    margin-top: 250px;
    color: white;
}
h4{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #F4B13D;
}
.menu {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 60;
    height: 56px;
    width: 100%;
    padding: 0 2%;
    color: #ccc;
    box-shadow: 0px 1px 3px 1px rgb(0 0 0 / 30%);
    -webkit-tap-highlight-color: transparent;
}

.menu::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 56px;
    background: url(../images/bg.jpg) repeat-x top center rgba(26,26,26,0.9);
    z-index: -1;
}

.menu .container {
    box-sizing: border-box;
    position: relative;
    max-width: 1060px;
    height: 56px;
    padding-top: 4px;
    margin: auto;
}
.logoSvg{
    width: 34px;
    height: 34px;
    fill: #fff;
}